/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

.beingDragged {
	background-color: red;
}

.pollSectionItemList.over {
	background-color: blue;
}

.pollSectionItem.over {
	background-color: black;
}