/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

.draggableItem:before {
    font-family: FontAwesome;
    content: "\f07d";
    padding-right: 1em;
}

.draggableItem:hover {
    cursor: move;
}

.beingDragged {
 	background-color: lightgreen;
}

.pollSectionItemList {
    margin-bottom: 0.5em;
}

.pollSectionItemList.over {
    box-shadow: 0 0 0.2em #43b6bb;
}

.pollSectionItem.over {
	
}

.lastMoved {
	background-color: lightgreen;
}