.page								{ width: 100%; max-width: 1280px; margin: 0 auto; padding: 0; }

.row								{ width: 100%; margin: 0 auto 20px auto; padding: 0; clear: both; overflow: auto; box-sizing: border-box; -moz-box-sizing: border-box;}

.col, .cols							{ width: 100%; margin: 0; padding: 0 10px; box-sizing: border-box; -moz-box-sizing: border-box; display: inline; float: left; }

.first 								{ clear: left; }

.last								{ clear: right; }

@media only screen and (min-width: 768px) {
	.l-one 						{ width: 8.33333%; }
	.l-two 						{ width: 16.66667%; }
	.l-three					{ width: 25%; }
	.l-four 					{ width: 33.33333%; }
	.l-five						{ width: 41.66667%; }
	.l-six						{ width: 50%; }
	.l-seven					{ width: 58.33333%; }
	.l-eight 					{ width: 66.66667%; }
	.l-nine						{ width: 75%; }
	.l-ten						{ width: 83.33333%; }
	.l-eleven					{ width: 91.66667%; }
	.l-twelve					{ width: 100%; }
	.l-first					{ clear: left; }
	.l-last						{ clear: right; }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	.m-one 						{ width: 8.33333%; }
	.m-two 						{ width: 16.66667%; }
	.m-three					{ width: 25%; }
	.m-four 					{ width: 33.33333%; }
	.m-five						{ width: 41.66667%; }
	.m-six						{ width: 50%; }
	.m-seven					{ width: 58.33333%; }
	.m-eight 					{ width: 66.66667%; }
	.m-nine						{ width: 75%; }
	.m-ten						{ width: 83.33333%; }
	.m-eleven					{ width: 91.66667%; }
	.m-twelve					{ width: 100%; }
	.m-first					{ clear: left;}
	.m-last						{ clear: right; }
}


@media only screen and (max-width: 479px) {
	.s-one 						{ width: 8.33333%; }
	.s-two 						{ width: 16.66667%; }
	.s-three					{ width: 25%; }
	.s-four 					{ width: 33.33333%; }
	.s-five						{ width: 41.66667%; }
	.s-six						{ width: 50%; }
	.s-seven					{ width: 58.33333%; }
	.s-eight 					{ width: 66.66667%; }
	.s-nine						{ width: 75%; }
	.s-ten						{ width: 83.33333%; }
	.s-eleven					{ width: 91.66667%; }
	.s-twelve					{ width: 100%; }
	.s-first					{ clear: left;}
	.s-last						{ clear: right; }	
}