.hidden {
	display: none;
}

#pollSectionList {
	list-style-type: none;
	padding: 0;	
}

.property-header {
	background-color: LimeGreen;
	
}

.property {
	background-color: LightGrey;
}

.property p {
	line-height: 2rem;
	padding: 0 10px;
}

.pollSection {
	height: 2rem;
	line-height: 2rem;
	padding: 0 10px;
}

.pollSection.even {
	
}

.pollSection.odd {
	
}

.property-value.selected {
	background-color: LightGreen;
}

.propertyDetails {
	display: none;
}

.propertyDetails.selected {
	display: block;
}

.pollSectionItemList {
	padding-bottom: 10px;
}

.pollSectionItem {
	border-top: solid 2px transparent;
}

.pollSectionItem td {
	padding: 5px;
}