.hidden {
	display: none;
}

#pollSectionList {
	list-style-type: none;
	padding: 0;	
}

.property-header {
	color: #43B6BB;
	
}

.property {
    border-top: dotted 0.1em transparent;
    border-bottom: dotted 0.1em transparent;
}

.property p {

}

.pollSection {

}

.pollSection.even {
	
}

.pollSection.odd {
	
}

.containsSelection {
    border-top: dotted 0.1em #43B6BB;
    border-bottom: dotted 0.1em #43B6BB;
}

.selectable:hover {
    cursor: pointer;
    background: #C7C7C7;
}

.selectable.selected {
	color: #43B6BB;
}

.selectable.selected:hover {
    background: none;
}

.propertyDetails {
	display: none;
    padding-bottom: 1em;
}

.propertyDetails.selected {
	display: block;
}

.pollSectionItemList {
	padding-bottom: 10px;
}

.pollSectionItem {
	border-top: solid 2px transparent;
}

.pollSectionItem td {
	padding: 5px;
}

.propertyDetailsSection {

}