h1, h2, h3, h4 {
    font-family: cambria, georgia, times, serif;
	margin-bottom: 0;
}

h1 {
    font-size: 1.8em;
}

h2 {
    font-size: 1.5em;
}

h3 {
	font-size: 1.2em;
}

h4 {
    font-size: 1em;
}

html {
	background: #F0F0F0;
    font-family: helveticaneue-light, sans-serif;
    height: 100%;
}

body {

}

body.darkgrey {
    background: #C7C7C7;
}

body.page.full {
    box-shadow: none;
}

header.row {
	margin: 0;
}

.header__image {
	width: 100%;
	display: block;
}

nav {
	
}

aside {
	background: lightgoldenrodyellow;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th {
    text-align: left;
}

table.itemResults {
    width: auto;
}

table.itemResults tr:not(:last-child) {
	border-bottom: dotted 0.1em #c7c7c7;
}

table.itemResults th { 
	width: 200px;
    font-weight: normal;
    border-right: dotted 0.1em #c7c7c7;
    padding-left: 1em;
    padding-right: 1em;
}

table.itemResults td {
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
}

table.itemResults td:not(:last-child) {
	border-right: dotted 0.1em #c7c7c7;
}

tr {
	line-height: 2em;
}

.enclosedItems tr:not(:last-child) {
	border-bottom: dotted 0.1em #c7c7c7;
}

ol.inlineItems li {
	display: inline;
	padding-left: 0;
}

ol.inlineItems li:not(:last-child):after {
	content: ",";
	padding-right: 1em;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
}

li {
    line-height: 2em;
    padding-left: 0.5em;
}

li form {
	display: inline;
}
.enclosedItems li:not(:last-child) {
	border-bottom: dotted 0.1em #c7c7c7;
}

.instanceListItem:not(:first-child) {
	border-top: dotted 0.1em #43B6BB;
}

p {
}

fieldset {
    margin: 0;
    border: none;
    padding: 0;
}

fieldset.values {
    margin-bottom: 1em;
}

fieldset.buttons {
    background: #43B6BB;
}

.nomargin {
	margin: 0;
}

.margin-top {
    margin-top: 1em;
}

.nomargin-top {
	margin-top: 0;
}

.margin-bottom {
    margin-bottom: 1em;
}

.nomargin-bottom {
    margin-bottom: 0;
}

.padding-left {
    padding-left: 1em;
}
.padding-right {
    padding-right: 1em;
}

.padding-bottom {
	padding-bottom: 1em;
}

.nopadding {
    padding: 0;
}

input[type="text"] {
	width: 100%;
	box-sizing: border-box;
}

textarea {
	width: 100%;
	box-sizing: border-box;
}

iframe {
	border: none;
	height: 100vh;
}

iframe.cols {
	padding: 0;
}

.main {
	background: white;
}

.navigation {
	list-style: none;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	overflow: auto;
	background-color: #C7C7C7;
}

input[type="submit"].icon-submit {
    font-family: FontAwesome;
    text-align: center;
    font-size: 2em;
    background: none;
    border: none;
}

input[type="submit"].icon-submit.inline {
	font-size: 1.5em;
	float: right;
	display: inline;
	padding: 0;
}

input[type="submit"].icon-submit:hover {
    cursor: pointer;
    color: #43b6bb;
}

input[type="submit"].icon-submit:focus {
    outline: none;
}

label.iconSubmitLabel {
	text-decoration: underline;
}

label.iconSubmitLabel:hover {
	color: #43b6bb;
	cursor: pointer;
}

a {
    color: #000000;
}

a:visited {
    color: #000000;
}

a.text-link {
    text-decoration: none;
    font-weight: bolder;
}

a.text-link:hover {
    color: #43b6bb;
}

a.icon-link {
    font-size: 2em;
}

a.icon-link span {
	font-size: 0.5em;
}

a.icon-link.normal {
    font-size: 1.5em;
}

a.icon-link:not(.disabled):hover {
    color: #43b6bb;
}

a.disabled {
    color: #c7c7c7;
    cursor: default;
}

.navigation__links {
	display: inline;
}

.navigation__links a {
	text-decoration: none;
	color: rgb(80, 80, 80);
	padding: 0 1rem;
	line-height: 2rem;
	display: inline-block;
}

.navigation__links a:hover {
	background-color: #F0F0F0;
    color: #43B6BB;
}

.navigation__trigger {
	display: none;
}

.white {
    background: #FFFFFF;
}

.lightgrey {
    background: #F0F0F0;
}

.hint {
    color: #FF712B;
}

.status {
    color: #43B6BB;
}

.blueText {
    color: #43B6BB;
}

.greyText {
    color: #F0F0F0;
}

.darkgreyText {
    color: #c7c7c7;
}

.redText {
    color: red;
}

.orangeText {
	color: #ff712b;
}

.greenText {
    color: green;
}

.text-right {
    text-align: right;
}

.thin {
    font-weight: normal;
}

.bold {
    font-weight: bold;
}

.italic {
	font-style: italic;
}

.highlight {
    background: #FFD999;
}

.dim {
    background: #43B6BB;
}

.innerBox {
}

.box {
    padding: 0.5em;
}

.icon-box {
	font-size: 2em;
	text-align: center;
	padding: 0.5em 0; 
}

.bigbox {
    padding: 1em;
}
/*
 * Styling for Curriculum	
 */

.period, .language, .type {
	font-weight: bold;
}

.item {
	padding: 0.5rem;
}

.item:nth-child(n+3) {
	border-top-style: solid;
	border-top-width: thin;
	border-top-color: gray;
}

.radioInputLabel {
    display: inline-block;
    width: 100%;
}

.border-blueDotted {
    border: dotted 0.1em #43B6BB;
}

.border-left-blueDotted {
    border-left: dotted 0.1em #43B6BB;
}

.border-bottom-blueDotted {
    border-bottom: dotted 0.1em #43B6BB;
}

.border-bottom-greySolid {
    border-bottom: solid grey 0.1em;
}

.shadow {
    box-shadow: 2px 2px 5px grey;
}

.flat {
    height: 9em;
}

.flatter {
    height: 6em;
}

.regular {
    height: 12em;
}

.big {
    height: 15em;
}

.bigger {
    height: 18em;
}

.biggest {
    height: 24em;
}

.full-height {
    height: 100%;
}

.centered-text {
    text-align: center;
}


.actions {    
    background: #f0f0f0;    
}

.actions:not(.left-text) {
	text-align: center;
	padding: 1.2em 0;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;
    background: rgba(0,0,0,0.8);
    display: flex;
    flex-direction: row;
}

.overlayContent {
    padding: 0 1em;
    min-width: 60vw;
    max-height: 85vh;
    overflow-y: scroll;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

@media only screen and (min-width: 1025px) {

	footer {
		box-shadow: 
		inset -1px 0px 5px rgba(0, 0, 0, 0.5),
		inset 3px 3px 5px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:
		inset -1px 0px 5px rgba(0, 0, 0, 0.5),
		inset 3px 3px 5px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow:
		inset -1px 0px 5px rgba(0, 0, 0, 0.5),
		inset 3px 3px 5px rgba(0, 0, 0, 0.5);
	}
}

@media only screen and (min-width: 768px) {

    a.icon-link.big {
        font-size: 6em;
    }

    .l-border-left-solidGrey {
        border-left: solid 0.2em #c7c7c7
    }

	.main {
		padding: 1rem;
	}

    .l-flatter {
        height: 6em;
    }

    .l-flat {
        height: 9em;
    }

    .l-regular {
        height: 12em;
    }

    .l-bigger {
        height: 18em;
    }

    .l-nomargin-bottom {
        margin-bottom: 0;
    }

    .l-padding-bottom {
        padding-bottom: 1em;
    }

	aside {
		box-shadow: 
			-1px -1px 5px rgba(0, 0, 0, 0.5),
			3px 3px 5px rgba(0, 0, 0, 0.5);
		-moz-box-shadow:
			-1px -1px 5px rgba(0, 0, 0, 0.5),
			3px 3px 5px rgba(0, 0, 0, 0.5);
		-webkit-box-shadow:
			-1px -1px 5px rgba(0, 0, 0, 0.5),
			3px 3px 5px rgba(0, 0, 0, 0.5);
	}
}

@media only screen and (max-width: 767px) {

    a.icon-link.big {
        font-size: 5em;
    }

    .m-flatter {

    }

    .m-border-bottom-blueDotted {
        border-bottom: dotted 0.1em #43B6BB;
    }

	aside {
		border-top: solid thin gray;
	}
}

@media only screen and (max-width: 479px) {

    a.icon-link.big {
        font-size: 3em;
    }

    .s-flatter {

    }
}

footer.row {
	background-color: rgb(80, 80, 80);
	color: rgb(222, 222, 222);
	margin: 0;
}

.footer__section {
}

.footer__section__header {
	margin-top: 0;
	margin-bottom: 0;
	padding: 0.5rem;
}

.footer__section__links {
	list-style: none;
	font-size: 0.8rem;
	padding: 0  0.5rem 0.5rem 0.5rem;
	margin: 0;
}